*{
    margin:0;
    border:border-box;
    font-family:Arial;
}

/** main page **/
.page{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

header{
    height:380px;
    width:800px;
    background-color:rgb(17, 16, 16);
   
}

.first-nav{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    margin-top:20px;

}

.name{
    margin-left:-10px;
    font-size:1.5rem;
    color:white;

}

.k {
    color:blueviolet;
    font-size:1.8rem;
}

.contactme button {
    border-radius:8px;
    background-color: blueviolet;
    color:white;
    height:2.5rem;
    width:8rem;
    margin-right:-2rem;
    font-size:1.1rem;
}


.contactme button:hover {

    border-bottom: 2px solid blueviolet;
    color:white;
    background-color:blueviolet;
}

a{
    text-decoration:none;
    color:white;
    font-size:0.75rem;
    transition-property: all 1s ease-in;
    height:10px;
    width:10px;
    border-bottom:2px solid transparent;
}

a:hover {

    border-bottom: 2px solid blueviolet;
    color:blueviolet;
}

/**  hero section **/

.hero-section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    margin-top:2rem;
}


.line1{
    font-size:1.25rem;
    color:white
}


.line2{
    padding-top:0.25rem;
    font-size:1.50rem;
    color:blueviolet;
}


.line3{
    padding-top:0.25rem;
    font-size:1.25rem;
    color:white;
}


.line4{
    padding-top:0.50rem;
    color:white;
   
}


.line4 p{
    padding-top:0.25rem;
}


.box{
    display: flex;
    justify-content: space-around;
    margin-top:1.50rem;
    margin-left:-0.50rem;
    
}

.box1{
    display:flex ;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    background-color:rgb(74, 69, 69);
    color:white;
    height:2rem;
    width:10rem;
    border:1px solid black;
    border-radius:12px;
    padding-left:

}

.box1 p {
    font-size:0.75rem;
    margin-left:0.50rem;
}

.box1:hover {
     background-color:blueviolet;
    color:white;
}


.box2{
    display:flex ;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    background-color:rgb(74, 69, 69);
    color:white;
    height:2rem;
    width:7rem;
    border:1px solid black;
    border-radius:20px;

}

.box2 p {
    font-size:0.75rem;
    margin-left:0.50rem;
}


.box2:hover {
     background-color:blueviolet;
    color:white;
}

.logo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    margin-top:1.50rem;

}

.facebook{
    background-image:url(facebook.png);
    background-size:cover;
    height:32px;
    width:32px;
    border-radius:50%;
    border:1px solid rgb(74, 69, 69);
}


.insta{
    background-image:url(insta.png);
    background-size:cover;
    height:32px;
    width:32px;
    border-radius:50%;
    border:1px solid rgb(74, 69, 69);
}


.linkdin{
    background-image:url(in-image.png);
    background-size:cover;
    height:32px;
    width:32px;
    border-radius:50%;
    border:1px solid rgb(74, 69, 69);
}


.github{
    background-image:url(github.png);
    background-size:cover;
    height:32px;
    width:32px;
    border-radius:50%;
    border:1px solid rgb(74, 69, 69);
}

.logo-img{
    height:200px;
    width:200px;
    border:2px solid blueviolet; 
    border-radius:50%;
    background-image:url(pro.jpg);
    background-size:cover;
}