*{
    margin:0;
    border:border-box;
    font-family:Arial;
}

/** main page **/
body{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

header{
    height:px;
    width:800px;
    background-color:rgba(226, 222, 222, 0.865);
    margin-bottom: 20px;
   
}

.first-nav{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    margin-top:20px;
    background-color: black;

}

.name{
    margin-left:-10px;
    font-size:1.5rem;
    color:white;

}

.k {
    color:blueviolet;
    font-size:1.8rem;
}

.contactme button {
    border-radius:8px;
    background-color: blueviolet;
    color:white;
    height:2.5rem;
    width:8rem;
    margin-right:-2rem;
    font-size:1.1rem;
}


.contactme button:hover {

    border-bottom: 2px solid blueviolet;
    color:white;
    background-color:blueviolet;
}

a{
    text-decoration:none;
    color:white;
    font-size:0.75rem;
    transition-property: all 1s ease-in;
    height:10px;
    width:10px;
    border-bottom:2px solid transparent;
}

a:hover {

    border-bottom: 2px solid blueviolet;
    color:blueviolet;
}

/**  hero section **/

.hero-section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    margin-top:2rem;
    background-color: black;
    height:350px;
}


.line1{
    font-size:1.25rem;
    color:white
}


.line2{
    padding-top:0.25rem;
    font-size:1.50rem;
    color:blueviolet;
}


.line3{
    padding-top:0.25rem;
    font-size:1.25rem;
    color:white;
}


.line4{
    padding-top:0.50rem;
    color:white;
   
}


.line4 p{
    padding-top:0.25rem;
}


.box{
    display: flex;
    justify-content: space-around;
    margin-top:1.50rem;
    margin-left:-0.50rem;
    
}

.box1{
    display:flex ;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    background-color:rgb(74, 69, 69);
    color:white;
    height:2rem;
    width:10rem;
    border:1px solid black;
    border-radius:12px;
}

.box1 p {
    font-size:0.75rem;
    margin-left:0.50rem;
}

.box1:hover {
     background-color:blueviolet;
    color:white;
}


.box2{
    display:flex ;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    background-color:rgb(74, 69, 69);
    color:white;
    height:2rem;
    width:7rem;
    border:1px solid black;
    border-radius:20px;

}

.box2 p {
    font-size:0.75rem;
    margin-left:0.50rem;
}


.box2:hover {
     background-color:blueviolet;
    color:white;
}

.logo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    margin-top:1.50rem;

}

.facebook{
    background-image:url(facebook.png);
    background-size:cover;
    height:32px;
    width:32px;
    border-radius:50%;
    border:1px solid rgb(74, 69, 69);
}


.insta{
    background-image:url(insta.png);
    background-size:cover;
    height:32px;
    width:32px;
    border-radius:50%;
    border:1px solid rgb(74, 69, 69);
}


.facebook:hover {
    transform: scale(1.10);
}



.insta:hover {
    transform: scale(1.10);
}



.linkdin{
    background-image:url(in-image.png);
    background-size:cover;
    height:32px;
    width:32px;
    border-radius:50%;
    border:1px solid rgb(74, 69, 69);
}


.linkdin:hover {
    transform: scale(1.10);
}



.github{
    background-image:url(github.png);
    background-size:cover;
    height:32px;
    width:32px;
    border-radius:50%;
    border:1px solid rgb(74, 69, 69);
}

.github:hover {
    transform: scale(1.10);
}


.logo-img{
    height:200px;
    width:200px;
    border:2px solid blueviolet; 
    border-radius:50%;
    background-image:url(pro.jpg);
    background-size:cover;
}


.logo-img:hover {
    transform: scale(1.10);
}


.two-box{
    display: flex;
    justify-content: space-evenly;

}

.p3{
    margin-top:0.50rem;
}

.read-more{
    height: 30px;
    width:80px;
    background-color:blueviolet;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size:0.75rem;
    border-radius:20px;
    margin-top:10px;
    transition-property: all 2s ease-out;
    
}

.read-more p {
    margin-left:10px;
}

.read-more:hover {
    transform: scale(1.10);
    color:white;
    background-color: rgb(54, 52, 55);
}


.personal-info{
    background-color:aliceblue;
    width:350px;
    margin-left:20px;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.name1{
    display: flex;
    font-size:0.90rem;
}

.name1 p {
    margin-left:10px;
}

.age{
    display: flex;
     font-size:0.90rem;
}

.age p {
      margin-left:10px;
}

.location{
    display: flex;
     font-size:0.90rem;
}

.location p {
      margin-left:10px;
}

.mail{
    display: flex;
     font-size:0.90rem;
}

.mail p {
      margin-left:10px;
}

.freelance{
    display: flex;
     font-size:0.90rem;
}

.freelance p {
      margin-left:10px;
}


/** my skills **/

.ms{
    height:150px;
    background-color:rgb(193, 224, 224);
    align-items: center;
    justify-content: center;
    align-content: center;
    margin-top:10px;
}

.myskills{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    /* margin-top:30px; */
}

.line p {
    margin-top:55px;
}


.img-logo{
    background-size:cover;
    height:50px;
    width:35px;
}


.gb-logo {
    background-size:cover;
    height:50px;
    width:50px;
}


.gh-logo {
    background-size:cover;
    height:50px;
    width:50px;
}



.html{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    

}

.progress {
    width: 100px;
    height: 8px;
    background-color: rgb(62, 59, 59);
    border-radius: 10px;
    margin-top:10px;
}

.progress-bar {
    width: 80%;
    height: 100%;
    background-color: black;
    border-radius: 10px;
    text-align: center;
    color: white;
}


.html b {
    font-size:0.75rem;
    margin-top:10px;
}


.per p {
    font-size:0.75rem;
    margin-top:10px;
}


.css{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.progress {
    width: 100px;
    height: 8px;
    background-color: rgb(7, 7, 7);
    border-radius: 10px;
}

.progress-bar {
    width: 80%;
    height: 100%;
    background-color: rgb(42, 42, 44);
    border-radius: 10px;
    text-align: center;
    color: white;
}


.css b {
    font-size:0.75rem;
     margin-top:10px;
}


.js{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.progress {
    width: 100px;
    height: 8px;
    background-color: lightgray;
    border-radius: 10px;
}

.progress-bar-js{
    width: 20%;
    height: 100%;
    background-color: rgb(255, 81, 0);
    border-radius: 10px;
    text-align: center;
    color: white;
}

.js b {
    font-size:0.75rem;
     margin-top:10px;
}


.gb{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.progress {
    width: 100px;
    height: 8px;
    background-color: lightgray;
    border-radius: 10px;
}

.progress-bar {
    width: 80%;
    height: 100%;
    background-color: rgb(255, 81, 0);
    border-radius: 10px;
    text-align: center;
    color: white;
}


.gb b {
    font-size:0.75rem;
     margin-top:10px;
}


.gh{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.progress {
    width: 100px;
    height: 8px;
    background-color: black;
    border-radius: 10px;
}

.progress-bar {
    width: 80%;
    height: 100%;
    background-color: rgb(255, 81, 0);
    border-radius: 10px;
    text-align: center;
    color: white;
}


.gh b {
    font-size:0.75rem;
     margin-top:10px;
}


/** my projects **/

.my-projects{
    height:250px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    /* background-color:aqua; */
}

.pro-1{
    height:230px;
    width:170px;
    /* background-color:blueviolet; */
    border:2px solid rgb(125, 120, 120);
    border-radius:10px;
    font-size:0.85rem;
}

.pro-img{
    background-image:url(insta.png);
    background-size:cover;
    height:90px;
    width:170px;
    display: flex;
    flex-direction: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius:15px;
}

.pro-button{
    background-color:blueviolet;
    color:white;
    border-radius:5px;
    margin-left:10px;
}

.m{
    margin-left:10px;
}

.bold{
    font-size:1rem;
     margin-left:10px;
}

/** Education **/

.education-2{
    
    background-color:rgb(193, 224, 224);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size:1.50rem;
    padding-top:15px;
}

.h-line{
    position: relative;
    bottom: 7px;
}


.edu{
    height:150px;
    background-color:rgb(193, 224, 224);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}

.ssc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}


.hsc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}


.bca{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.clg{
    font-size:2rem;
}


.school{
    font-size:0.80rem;
    margin-top:10px;
}

/** contact me **/

.contact-me{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top:15px;
    font-size:1.25rem;
}

.con-me{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    margin-top:20px;
}

.send-b{
    width:150px;
    height:30px;
    color:white;
    background-color:blueviolet;
    border:2px solid rgb(63, 59, 59);
    border-radius:10px;
    transition-property: all 2s ease-in;
}

.send-b:hover {
    background-color:rgb(95, 91, 91)
    
}

/** footer **/

.copyright{

    color:white;
    background-color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height:30px;
    font-size:0.80rem;
    margin-top:40px;
    padding-bottom:px;
}

.pad{
    height:30px;
}